@{
    ViewData["Title"] = "Home";
}

<h1>Food Safety Inspection Tracker</h1>

<div class="row mt-4">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Premises</h5>
                <p class="card-text">@ViewBag.PremisesCount</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Inspections</h5>
                <p class="card-text">@ViewBag.InspectionsCount</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Follow-ups</h5>
                <p class="card-text">@ViewBag.FollowUpsCount</p>
            </div>
        </div>
    </div>
</div>

<div class="mt-4">
    <a href="/Premises" class="btn btn-primary">Premises</a>
    <a href="/Inspections" class="btn btn-primary">Inspections</a>
    <a href="/FollowUps" class="btn btn-primary">Follow-ups</a>
</div>
